.nav-link{
    color: white;
    font-size: 25px;
}

.rectangle-20{
    width: 80%;
    height: 80%;
    object-fit: cover
}

.rectangle-21{
    width: 100%;
    height: 70%;
    
}

.rectangle-22{
    width: 100%;
    height: 20%;
    
}